<!-- ******** add head -->
{{> head}}

<!-- ******** add header -->
{{> header}}

<main>
    <div class="container">

        <h1 class="page-title">Answer the questions</h1>
        <h4 class="page-subtitle">
            Please circle a response for each question.
            When you are done, please write your e-mail in input and press submit button.
            <br><br>Thank you!
        </h4>

        <section class="questions-section">
            <form class="question-form">

                <div class="questions">
                    <div class="question-block">
                        <h3 class="question-title">1. What is your class standing?</h3>

                        <div class="radio-input">
                            <label>
                                <input type="radio" name="firstQuestion">
                                <span class="radio-dot"></span>
                                non-matriculated
                            </label>
                        </div>
                        <!-- /.radio-input -->

                        <div class="radio-input">
                            <label>
                                <input type="radio" name="firstQuestion">
                                <span class="radio-dot"></span>
                                freshman
                            </label>
                        </div>
                        <!-- /.radio-input -->

                        <div class="radio-input">
                            <label>
                                <input type="radio" name="firstQuestion">
                                <span class="radio-dot"></span>
                                sophomore
                            </label>
                        </div>
                        <!-- /.radio-input -->

                        <div class="radio-input">
                            <label>
                                <input type="radio" name="firstQuestion">
                                <span class="radio-dot"></span>
                                junior
                            </label>
                        </div>
                        <!-- /.radio-input -->

                        <div class="radio-input">
                            <label>
                                <input type="radio" name="firstQuestion">
                                <span class="radio-dot"></span>
                                senior
                            </label>
                        </div>
                        <!-- /.radio-input -->

                        <div class="radio-input">
                            <label>
                                <input type="radio" name="firstQuestion">
                                <span class="radio-dot"></span>
                                graduate
                            </label>
                        </div>
                        <!-- /.radio-input -->

                    </div><!-- /.question-block -->
                </div><!-- /.questions -->

                <div class="input-wrapper">
                    <input type="email" class="text-input" placeholder="Your e-mail here...">
                </div>

                <button class="btn">SUBMIT</button>

            </form><!-- /.question-form -->
        </section><!-- /.question-section -->
    </div><!-- /.container -->
</main><!-- /main -->

<!-- ******** add footer -->
{{> footer}}